<header>
  <hello name="{{ name }}"></hello>
  <p><small>a pridehacks 2022 submission</small></p>
</header>

<body>
  <h2>Fact Sheet</h2>
  <div>
    <li>
      The Supreme Court's decision to overturn Roe v. Wade effectively made
      abortions illegal or heavily restricted in 26 states across the United
      States.
    </li>
  </div>

  <div>
    <li>
      Trans men, nonbinary, and gender non-conforming people (GNC) who are
      assigned female at birth are capable of becoming pregnant, but they have
      more trouble accessing healthcare than cis women.
      <!--insert pie chart/stats here-->
    </li>
  </div>
  <div>
    <li>
      Banning or restricting abortion access will not stop people from seeking
      abortions. In fact, it makes them more dangerous.
      <!---->
    </li>
  </div>
</body>
